<a href="https://colab.research.google.com/github/Hanjateacherson/SMHRD/blob/main/python/(Flask)%2001_DB%EC%97%B0%EB%8F%99%ED%95%98%EA%B8%B0(jupyter)_%EB%B0%B0%ED%8F%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Oracle 설치

- Oracle 다운로드
  - https://www.oracle.com/kr/database/technologies/oracle-database-software-downloads.html
  - Download Oracle Database XE for Windows(ZIP) 버튼을 클릭하여 다운로드

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_download.png" width=50%>
</center>

- Oracle 설치
  - 압축을 풀고 setup.exe 파일을 실행하여 설치
    - 설치 폴더 설정
    - 접속 패스워드 설정
    - TNS Listener 허용 (TNSLSNR.exe)
      - 한 시스템에 오라클DB가 여러개 설치가 되어있는 경우 외부에서 접속을 하면 TNS Listener는 SID값을 가지고 어느 오라클DB로 접속시킬지 중개하는 역할
    - Java(TM) Platform SE binary 액세스 허용
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install01.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install02.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install03.png" width=30%>
</center>    
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install04.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install05.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install06.png" width=30%>
</center>   
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install07.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install08.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install09.png" width=30%>
</center>

- CMS창에서 Oracle 실행
  - CMD 창에서 sqlplus 명령어를 실행
  - user name은 system으로 password는 설치때 설정한 암호를 입력

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_execute001.png" width=50%>
</center>

- Oracle SQL Developer 다운로드
  - https://www.oracle.com/database/sqldeveloper/technologies/download/ 에서 Oracle SQL Developer 다운로드  

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_developer001.png" width=50%>
</center>

- Oracle SQL Developer의 압축을 풀고 sqldeveloper.exe 실행하여 설치 후 실행

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_developer002.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_developer003.png" width=20%>
</center>

- \+ 아이콘을 클릭

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_developer004.png" width=50%>
</center>

- 접속정보를 입력하고 접속 버튼을 클릭
  
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_developer005.png" width=40%>
</center>
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_developer006.png" width=40%>
</center>

# Oracle DB에 접속하기

- Python에서 Oracle Database 에 접속해서 DB 작업을 할 수 있도록 도와주는 라이브러리에 cx_Oracle과 python-oracledb 가 있음

- cx_Oracle 라이브러리의 구조
  - 반드시 cx_Oracle을 사용하는 파이썬 프로그램이 돌아가는 서버에 Oracle Client가 설치되어 있어야 함

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_python-cxoracle_arch.png" width=40%><br><font size=1>참고 : https://cx-oracle.readthedocs.io</font>
</center>

- python-oracledb 라이브러리
  - cx_Oracle의 업그레이드 버전 : 기능 추가
  - 참고 : https://python-oracledb.readthedocs.io/en/latest/user_guide/installation.html
  - thin 모드와 thick 모드 지원
    - thin 모드 : 서버에 Oracle Client가 없어도 됨
      - DB Startup/Stop, TAF기능사용, BFILE Type 지원, 21c JSON Data Type 지원, 2PC 등의 기능을 사용할 수 없음
    - thick 모드 : 서버에 Oracle Client가 있어야 됨

  - oracledb.init_oracle_client()가 들어가면 thick 모드로 동작
  
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_python-oracledb-arch.png" width=40%><br><font size=1>참고 : https://cx-oracle.readthedocs.io</font>
</center><br>

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_python-oracledb-arch2.png" width=40%><br><font size=1>참고 : https://cx-oracle.readthedocs.io</font>
</center>

- 라이브러리 설치

In [1]:
!pip install cx_Oracle

Collecting cx_Oracle
  Downloading cx_Oracle-8.3.0-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (892 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 892.6/892.6 kB 6.2 MB/s eta 0:00:00
Installing collected packages: cx_Oracle
Successfully installed cx_Oracle-8.3.0

- 설치오류가 뜨는 경우
  - https://visualstudio.microsoft.com/visual-cpp-build-tools/ 에서 Build Tool 다운로드
  - Build Tool을 실행
  - C++를 사용한 데스크톱 개발을 선택하고 설치 버튼을 클릭하여 설치
  
  
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_buildtool.png" width=40%>
</center>  
  
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_buildtool_02.png" width=40%>
</center>  

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_buildtool_03.png" width=40%>
</center>  
    
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_buildtool_04.png" width=80%>
</center>

- 오라클 접속하기

In [2]:
#실습
import cx_Oracle

un = "service"
pw = "12345"

dsn = "172.30.1.8:1521/xe"

try :
    conn = cx_Oracle.connect(un,pw,dsn)
    print("DB연결성공")
# 접속 오류가 뜨는 경우 메세지 출력
except cx_Oracle.DatabaseError as e :
    print(e)

DPI-1047: Cannot locate a 64-bit Oracle Client library: "libclntsh.so: cannot open shared object file: No such file or directory". See https://cx-oracle.readthedocs.io/en/latest/user_guide/installation.html for help

## DPI-1047: Cannot locate a 64-bit Oracle Client library 오류가 뜨는 경우

- Windows
  - https://www.oracle.com/database/technologies/instant-client/winx64-64-downloads.html 에서 오라클 클라이언트 라이브러리를 다운로드
  - 압축을 해제하고 C/IC21 폴더로 instantclient_xx_xx 폴더를 이동

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_python-cxoracle_window.png" width=50%>
</center>  

- Linux
  - https://www.oracle.com/database/free/get-started/ 에서 오라클 클라이언트 라이브러리를 다운로드
   - 설정 : https://docs.oracle.com/en/database/oracle/oracle-database/23/lacli/install-instant-client-using-zip.html#GUID-D3DCB4FB-D3CA-4C25-BE48-3A1FB5A22E84

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_python-cxoracle_linux.png" width=50%>
</center>

- 오라클 instant client 등록

In [3]:
#cx_Oracle.init_oracle_client(lib_dir=r"C:/IC21/instantclient_21_12")



# 데이터 입력, 수정, 삭제, 검색

- 커서 객체 생성하기
    - Cursor객체 : 작성한 query문을 DB 전송하거나 DB의 검색 결과를 가져오는 역할

In [5]:
cursor = conn.cursor()

NameError: ignored

- 테이블 생성하기

In [ ]:
query ="""create table test_tbl (
    code varchar(10) primary key,
    name varchar(10) not null,
    age integer not null)"""

try :
    #쿼리문을 DB로 보내 실행
    cursor.execute(query)
    #실행 확인
    conn.commit()
except cx_Oracle.DatabaseError as e :
    print(e)

- 생성한 테이블 목록보기

In [ ]:
query = "select * from tabs"
# tabs 전체데이터
try :
    cursor.execute(query)

     # 검색한 결과를 받아온다
     # fetchall() : 검색한 전체 데이터를 가져온다
    row = cursor.fetchall()

    print(row)
except cx_Oracle.DatabaseError as e :
    print(e)

- DB에 데이터 저장하기

In [ ]:
query = "insert into test_tbl values ('A100','김유신', 45)"

try :
    #쿼리문을 DB로 보내 실행
    cursor.execute(query)
    #실행 확인
    conn.commit()
    print("데이터저장완료")
except cx_Oracle.DatabaseError as e :
    print(e)

- 직접 데이터를 입력하여 DB로 저장

In [ ]:
code = input("코드입력: ")
name = input("이름입력: ")
age = int(input("나이입력: "))

#입력한 데이터를 딕셔너리로 저장
input_data = {"code":code, "name":name, "age":age}

# 입력한 데이터가 포함되도록 쿼리문을 생성
# 괄호안에 : 키값 형태로 표시
query = "insert into test_tbl values (:code, :name, :age)"

try :
    #쿼리문에 입력한 데이터를 할당해서 쿼리문을 완성해서 실행
    cursor.execute(query, input_data)
    #실행 확인
    conn.commit()
    print("데이터저장완료")
except cx_Oracle.DatabaseError as e :
    print(e)

- 중간 결과를 확인하고자 하는 경우

In [ ]:
code = input("코드입력: ")
name = input("이름입력: ")
age = int(input("나이입력: "))


query = f"insert into test_tbl values ('{code}', '{name}', {age})"

print(query)

try :

    cursor.execute(query, input_data)

    conn.commit()
    print("데이터저장완료")
except cx_Oracle.DatabaseError as e :
    print(e)

- DB에서 원하는 테이블의 전체 데이터 가져오기

In [ ]:
query = "select * from test_tbl"

try :
    cursor.execute(query)

     # 검색한 결과를 받아온다
     # fetchall() : 검색한 전체 데이터를 가져온다
    row = cursor.fetchall()

    display(row)
except cx_Oracle.DatabaseError as e :
    print(e)

- 결과를 데이터 프레임으로 출력하기

In [ ]:
import pandas as pd

df = pd.DataFrame(row, columns=["코드", "이름", "나이"])

d

- DB에서 원하는 테이블의 데이터를 키워드로 검색하기

In [ ]:
code = input("검색할 코드 입력: ")

#입력한 데이터를 딕셔너리로 저장
input_data = {"code":code}

# : 앞에 빈 공백을 쓰지 말아 주세요
query = "select * from test_tbl where code=:code"

try :
    # 쿼리문에 입력한 데이터를 등록해서 완성
    cursor.execute(query, input_data)

    #검색한 1개의 데이터만 가져온다
    #row = cursor.fetchone()

    #검색한 1개의 데이터만 가져온다
    row = cursor.fetchall()

    print(row)
except cx_Oracle.DatabaseError as e :
    print(e)

In [ ]:
df = pd.DataFrame(row, columns=["코드","이름","나이"])
df

- 데이터 변경하기

In [ ]:
code = input("코드입력: ")
name = input("이름입력: ")
age = int(input("나이입력: "))

#입력한 데이터를 딕셔너리로 저장
input_data = {"code":code, "name":name, "age":age}

# : 앞에 빈 공백을 쓰지 말아 주세요

query ="update test_tbl set name = :name, age = :age where code=:code"
query2 = "select * from test_tbl"

try :

    cursor.execute(query, input_data)

    conn.commit()
    print("데이터변경완료")

    display(row)

except cx_Oracle.DatabaseError as e :
    print(e)
    display(row)

- 데이터 삭제하기

In [ ]:
code = input("삭제할 코드 입력 : ")

input_data = {"code":code}

query = "delete from test_tbl where code=:code"

try :
    cursor.execute(query, input_data)

    # 실행 검증 - cursor객체는 실행을 잘 완료하면 0보다 큰 값을 반환
    if cursor.rowcount != 0 :
        print("데이터 삭제 완료")
    else :
        print("삭제할 데이터가 없습니다")

    conn.commit()

except cx_Oracle.DatabaseError as e :
    print(e)

In [ ]:
# 삭제 여부 확인
import pandas as pd

query = "select * from test_tbl"

try :
    cursor.execute(query)
    row = cursor.fetchall()

    df = pd.DataFrame(row, columns=["코드", "이름", "나이"])

    display(df)
except cx_Oracle.DatabaseError as e :
    print(e)

- 접속종료

In [ ]:
# 커서 객체 종료
cursor.close()
# 연결 객체 종료
conn.close()

# 모듈로 제작하기 - 클래스를 안 배운 경우

In [ ]:
%%writefile DB_Control.py
import cx_Oracle
import pandas as pd

# DB 연결 함수
# uesername : 아이디, password : 암호, dsn : 접속주소
def db_conn(username, password, dsn) :
    try :
        conn = cx_Oracle.connect(username, password, dsn)
        cur = conn.cursor()
        print("DB 접속 성공")

        # 생성한 연결/커서 객체를 반환
        return conn, cur
    except cx_Oracle.DatabaseError as e:
        print(e)

# DB 연결 해제 함수
# cur : 커서 객체, conn : 연결 객체
def db_disconn(conn, cur) :
    cur.close()
    conn.close()
    print("DB 연결 해제")

# 데이터 입력 함수
# t_name : 테이블 명, input_data : 저장할 데이터의 딕셔너리
def insertData(conn, cur, t_name, input_data):
    # input_data = {"code":code, "name":name, "age":age}
    # 딕셔너리의 키 값을 받아서 query 문을 생성
    # 테이블명을 추가
    # insert into test_tbl values (
    query = f"insert into {t_name} values ("

    # 각 컬럼명(키값)을 가져와서 배치
    # insert into test_tbl values (:code, :name, :age,
    for key in input_data.keys() :
        query += f":{key},"

    # 마지막의 컴머 제거
    # insert into test_tbl values (:code, :name, :age
    query = query.rstrip(",")

    # 괄호 닫기
    # insert into test_tbl values (:code, :name, :age)
    query += ")"

    # 딕셔너리 값을 할당해서 쿼리문 실행
    try :
        cur.execute(query, input_data)

        # 실행 검증 - cursor객체는 실행을 잘 완료하면 0보다 큰 값을 반환
        if cur.rowcount != 0 :
            print("데이터 추가 완료")
        else :
            print("데이터 추가 실패")

        conn.commit()

    except cx_Oracle.DatabaseError as e :
        print(e)

# 전체 데이터 검색 함수
def searchAllData(cur, t_name) :
    query = f"select * from {t_name}"

    try :
        cur.execute(query)
        row = cur.fetchall()

        return row
    except cx_Oracle.DatabaseError as e :
        print(e)

# 한개 데이터 검색 함수
# s_key : 컬럼명, s_value : 컬럼값 -> code = "A100"
def searchData(cur, t_name, s_key, s_value) :
    query = f"select * from {t_name} where {s_key}='{s_value}'"

    try :
        cur.execute(query)
        row = cur.fetchone()

        return row
    except cx_Oracle.DatabaseError as e :
        print(e)

# 데이터 수정 함수
def updateData(conn, cur, t_name, s_key, s_value, input_data) :
    # update arome_tbl set
    query = f"update {t_name} set "

    # update arome_tbl set name=:name,age=:age,
    for key in input_data.keys() :
        query += f"{key}=:{key},"

    # update arome_tbl set name=:name,age=:age
    query = query.rstrip(",")

    # update arome_tbl set name=:name,age=:age where code='code값';
    query += f" where {s_key}='{s_value}'"

    try :
        cur.execute(query, input_data)
        conn.commit()

        if cur.rowcount != 0 :
            print("변경 완료")
        else :
            print("변경 실패")
    except cx_Oracle.DatabaseError as e :
        print(e)

# 데이터 삭제 함수
def deleteData(conn, cur, t_name, s_key, s_value) :
    query = f"delete from {t_name} where {s_key}='{s_value}'"

    try :
        cur.execute(query)
        conn.commit()

        if cur.rowcount != 0 :
            print("삭제 완료")
        else :
            print("삭제 실패")
    except cx_Oracle.DatabaseError as e:
        print(e)

In [ ]:
# 모듈을 호출해서 DB 연결
import DB_Control as dc

username = "test_user_kang"
password = "test_user_kang"
dsn = "project-db-campus.smhrd.com:1524/xe"

# 아이디, 암호, 주소를 전송해서 DB 연결
conn, cur = dc.db_conn(username, password, dsn)

In [ ]:
# 데이터 저장
code = input("코드 입력 : ")
name = input("이름 입력 : ")
age = int(input("나이 입력 : "))

input_data = {"code":code, "name":name, "age":age}

dc.insertData(conn, cur, "test_tbl", input_data)

In [ ]:
# 전체검색
row = dc.searchAllData(cur, "test_tbl")

row

In [ ]:
code = input("검색할 코드 입력 : ")

row = dc.searchData(cur, "test_tbl", "code", code)

row

In [ ]:
# 데이터 갱신
code = input("변경할 코드 입력 : ")
name = input("변경할 이름 입력 : ")
age = int(input("변경할 나이 입력 : "))

input_data = {"name":name, "age":age}

dc.updateData(conn, cur, "test_tbl", "code", code, input_data)

In [ ]:
# 데이터 삭제
code = input("삭제할 코드 입력 : ")
dc.deleteData(conn, cur, "test_tbl", "code", code)

row = dc.searchAllData(cur, "test_tbl")
print(row)

In [ ]:
# 종료
dc.db_disconn(conn, cur)